<div [formGroup]="questionnaireForm">
    <div class="form-row" formArrayName="questions" *ngFor="let question of questions.controls; let i=index">
        <div class="col-md-12">
            <div class="row" formGroupName="{{i}}">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="question">Question</label>
                            <textarea class="form-control" formControlName="question"></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="questionType">Type</label>
                            <select class="form-control" formControlName="questionType">
                                <option selected>Select question type.</option>
                                <option *ngFor="let type of questionTypes" value={{type}}>{{type}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" *ngIf="getQuestionType(i)==='Drop Down' || getQuestionType(i)==='Radio Button'">
                        <div class="form-group col-md-12">Answer options:</div>
                    </div>
                    <div class="row" *ngIf="getQuestionType(i)==='Drop Down' || getQuestionType(i)==='Radio Button'">
                        <div class="form-group col-md-12" formArrayName="options">
                            <div class="row">
                                <div class="form-group col-md-6"
                                    *ngFor="let option of getOptions(i).controls; let j=index">
                                    Option {{ j+1}}: <input class="form-group" type="text" [formControlName]="j"
                                        required>
                                </div>
                                <div class="form-group col-md-6"><button type="button" class="btn btn-success"
                                        (click)="addOption(i)">Add Another
                                        Option</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>